<!DOCTYPE html>
<html lang="=en">
<head>
   <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>

<body>
        <table>
           <thead>
              <tr>
                 <th>Image</th>
                 <th>Title</th>
                 <th>Ingredients used</th>
                 <th>Ingredients missing</th>
                 <th>Instructions</th>
              </tr>
           </thead>
           <tbody id="data-output">
              <!-- Prodcuts from javascript file in here. -->
           </tbody>
        </table>
    <!-- <script src=""></script> -->
</body>




</html>