//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content

doctype html
html
  head
    title= `${title}`

  body
    h1 My Amazing App

    block content
