//- extends layout
doctype html
head
    block css
            link(rel='stylesheet', href='/stylesheets/style.css')
table
  thead
    tr
      th Image
      th Product name
      th Price
      th inventory
      th Product code
  tbody#data-output
    // Prodcuts from javascript file in here.
// <script src=""></script>
